Source: pyhunspell
Section: python
Priority: optional
Maintainer: Benjamin Drung <bdrung@debian.org>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               libhunspell-dev,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.4.0
Homepage: https://github.com/blatinier/pyhunspell
Testsuite: autopkgtest-pkg-python
Vcs-Git: https://salsa.debian.org/python-team/modules/pyhunspell.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/pyhunspell

Package: python3-hunspell
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python3:Provides}
Description: Python 3 binding for Hunspell
 Pyhunspell is a set of Python bindings for the Hunspell spell-checker
 engine. It lets developers load Hunspell dictionaries, check words, get
 suggestions, add new words, etc. It also provides some basic morphological
 analysis related methods.
 .
 This package provides the binding to Python 3.
